<FilesMatch "\.inc$|\.xml$">
deny from all
</FilesMatch>

Options -Indexes

ReWriteEngine On

ReWriteRule ^(.*)\~v.*\.js$  $1.js  [QSA,L]
ReWriteRule ^(.*)\~v.*\.css$ $1.css [QSA,L]

# Posts by category
ReWriteRule ^category/(.*)/media/$ gallery/by_category.php?slug=$1 [QSA,L]
ReWriteRule ^category/(.*)/media$  gallery/by_category.php?slug=$1 [QSA,L]
ReWriteRule ^category/(.*)/$       posts/by_category.php?slug=$1   [QSA,L]
ReWriteRule ^category/(.*)$        posts/by_category.php?slug=$1   [QSA,L]

# Author archive
ReWriteRule ^author/(.*)/media/$   gallery/by_author.php?slug=$1             [QSA,L]
ReWriteRule ^author/(.*)/media$    gallery/by_author.php?slug=$1             [QSA,L]
ReWriteRule ^author/(.*)/videos/$  gallery/by_author.php?slug=$1&type=videos [QSA,L]
ReWriteRule ^author/(.*)/videos$   gallery/by_author.php?slug=$1&type=videos [QSA,L]
ReWriteRule ^author/(.*)/images/$  gallery/by_author.php?slug=$1&type=images [QSA,L]
ReWriteRule ^author/(.*)/images$   gallery/by_author.php?slug=$1&type=images [QSA,L]
ReWriteRule ^author/(.*)/posts/$   posts/by_author.php?slug=$1               [QSA,L]
ReWriteRule ^author/(.*)/posts$    posts/by_author.php?slug=$1               [QSA,L]

# Media archive
ReWriteRule ^date/([0-9]{4}/[0-9]{2}/[0-9]{2})/media/$ gallery/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4}/[0-9]{2}/[0-9]{2})/media$  gallery/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4}/[0-9]{2})/media/$          gallery/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4}/[0-9]{2})/media$           gallery/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4})/media/$                   gallery/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4})/media$                    gallery/by_date.php?date=$1 [QSA,L]

# Posts archive
ReWriteRule ^date/([0-9]{4}/[0-9]{2}/[0-9]{2})/$ posts/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4}/[0-9]{2}/[0-9]{2})$  posts/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4}/[0-9]{2})/$          posts/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4}/[0-9]{2})$           posts/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4})/$                   posts/by_date.php?date=$1 [QSA,L]
ReWriteRule ^date/([0-9]{4})$                    posts/by_date.php?date=$1 [QSA,L]

# Media server
ReWriteRule ^mediaserver/(.*)$ data/uploaded_media/$1 [QSA,L]
