/**
 * Admin styles
 *
 * @package    HNG2
 * @subpackage core
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

#admin_menu {
    line-height: 30px; min-height: 30px; text-align: right;
    font-weight: 900; font-size: 8pt;
    padding-left: 5px; color: white; background-color: darkgreen;
}

#admin_menu .item { padding: 0 10px; margin: 0; text-align: center; }

#admin_menu .admin_bar_title { float: left; font-size: 10pt; color: white; }

#admin_menu .item       { text-decoration: none; text-transform: uppercase; color: rgba(255, 255, 255, 0.75); font-weight: bold; }
#admin_menu .item:hover { color: black; background-color: mediumspringgreen; }

#admin_menu .item.current       { color: darkgreen; background-color: white; }
#admin_menu .item.current:hover { color: black; background-color: lime; }

/* Mobile devices triggering menu */

#admin_menu_trigger      { line-height: 30px; padding: 0 10px; float: right; cursor: pointer; }
#admin_menu_trigger.open { color: #CE0909; background-color: #f6f8f9; }

#admin_menu_trigger { display: none; }
#admin_menu .item   { display: inline-block; }
@media all and (max-width: 700px)
{
    #admin_menu_trigger       { display: inline-block; }
    #admin_menu .item         { display: none; }
    #admin_menu .item.current { display: inline-block; }
}
#admin_menu .item.visible { display: block; text-align: left; }

/* This patch is to fix the header at the top:
#content { margin-top: 70px; }
*/

body.admin h1, body.admin h2, body.admin h3 { padding: 5px 10px; border-radius: 5px; }

body.admin h1, body.admin section > h1 { color: white;   background-color: #CE0909; border: 2px solid #830606; }
body.admin h2, body.admin section > h2 { color: white;   background-color: #ce6562; border: 2px solid #CE0909; }
body.admin h3, body.admin section > h3 { color: #830606; background-color: #ceaea7; border: 2px solid #ce6562; }

body.admin section > h1, body.admin section > h2, body.admin section > h3 {
    padding: 5px 10px;
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
