/**
 * Admin styles
 *
 * @package    HNG2
 * @subpackage core
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

#admin_menu {
    line-height: 30px; min-height: 30px; text-align: right;
    font-weight: 900; font-size: 10pt;
    padding-left: 5px; color: white; background-color: darkgreen;
}

#admin_menu .item { padding: 0 10px; margin: 0; text-align: center; vertical-align: top; }

#admin_menu .admin_bar_title { float: left; font-size: 10pt; color: white; vertical-align: top; }

#admin_menu .item       { text-decoration: none; font-variant: small-caps; color: rgba(255, 255, 255, 0.75); font-weight: bold; }
#admin_menu .item:hover { color: black; background-color: mediumspringgreen; }

#admin_menu .item.current       { color: darkgreen; background-color: white; }
#admin_menu .item.current:hover { color: black; background-color: lime; }

#admin_menu .admin_bar_title .current_server { display: none; }

/* Mobile devices triggering menu */

#admin_menu_trigger      { line-height: 30px; padding: 0 10px; float: right; cursor: pointer; vertical-align: top; }
#admin_menu_trigger.open { color: #990d0d; background-color: #f6f8f9; }

#admin_menu_trigger { display: none; }
#admin_menu .item   { display: inline-block; }
@media all and (max-width: 700px)
{
    #admin_menu_trigger       { display: inline-block; }
    #admin_menu .item         { display: none; }
    #admin_menu .item.current { display: inline-block; }
}
#admin_menu .item.visible { display: block; text-align: left; }

/* This patch is to fix the header at the top:
#content { margin-top: 70px; }
*/

body.admin h1, body.admin h2, body.admin h3 { padding: 5px 10px; border-radius: 5px; }

body.admin h1 { color: white;   background-color: #990d0d; border: 2px solid #710707; }
body.admin h2 { color: white;   background-color: #990d0d; border: 2px solid #990d0d; }
body.admin h3 { color: #830606; background-color: #ceaea7; border: 2px solid #ce6562; }

body.admin h1 a, body.admin h1 .pseudo_link { color: white;   }
body.admin h2 a, body.admin h2 .pseudo_link { color: white;   }
body.admin h3 a, body.admin h3 .pseudo_link { color: #830606; }

body.admin h1 a.framed_content, body.admin h1 .pseudo_link.framed_content { color: #830606; text-decoration: none; }
body.admin h2 a.framed_content, body.admin h2 .pseudo_link.framed_content { color: #830606; text-decoration: none; }
body.admin h3 a.framed_content, body.admin h3 .pseudo_link.framed_content { color: #830606; text-decoration: none; }

body.admin section > h1, body.admin section > h2, body.admin section > h3 {
    padding: 5px 10px;
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

#admin_menu .emojione                  { height: 10pt; }
#admin_menu .admin_bar_title .emojione { height: 10pt; }

/* Modules manager */

#modules_listing                  { border-spacing: 0 20px; }
#modules_listing td               { padding-top: 10px; padding-bottom: 10px; border: 1px solid #008000; }

#modules_listing ul               { margin-top: 0; }
#modules_listing .principal_data  { font-size: 1.3em; line-height: 1.4em; color: white; background-color: #008000;
                                    padding: 5px; position: relative; top: -10px;
                                    margin-left: -5px; margin-bottom: -10px; }
#modules_listing td:first-child   { border-left: 5px solid #008000; }
#modules_listing td *:first-child { margin-top: 0; }
#modules_listing td *:last-child  { margin-bottom: 0; }

#modules_listing tr { background-color: white; }

#modules_listing tr.new      td              { border-color: maroon; }
#modules_listing tr.new      .principal_data { background-color: maroon; }
#modules_listing tr.disabled td              { border-color: #585858; }
#modules_listing tr.disabled .principal_data { background-color: #585858; }

#modules_listing tr td:first-child { border-right: none; }
#modules_listing tr td:last-child  { border-left: none; }
