
/* By default, the sidebar is visible */

#left_sidebar                   { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 16px;
                                  width: 150px; float: left; padding-top: 20px; }
#content                        { width: calc(100% - 150px); float: left; }

#left_sidebar .item             { display: block; margin: 0 0 0 10px; padding: 2px 6px; cursor: pointer; }
#left_sidebar .item:hover       { background-color: rgba(0, 0, 0, 0.10); }
#left_sidebar .group            { margin-bottom: 20px; }

/* We'll hide it for small displays (less than 480px wide) */

@media all and (min-width: 100px) and (max-width: 480px)
{
    #left_sidebar { display: none; }
    #content      { float: none; width: 100%; }
}

/* Overrides for the toggler */

body[data-left-sidebar-visible="true"] #left_sidebar { display: none; }
body[data-left-sidebar-visible="true"] #content      { float: none; width: 100%; }
