/**
 * Posts styles, for BardCanvas
 *
 * @package    HNG2
 * @subpackage core
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

/* Slider, for the home page */

#posts_slider {
    margin-bottom: 20px; background-color: white;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
}

/* Posts */

#posts_pagination {
    font-family: 'Lora', sans-serif;
    font-size: 14pt;
    line-height: 1em;
}

#posts_pagination a {
    text-decoration: none;
}

#posts_pagination a[disabled] {
    cursor: default;
    color:  grey;
}

.posts_index article                          { margin-bottom: 20px; background-color: white;
                                               -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                               -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                               box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25); }
.posts_index article .post_meta               { padding: 10px 10px 5px 10px; }
.posts_index article h1                       { margin: 0; padding: 5px 10px; }
.posts_index article .post_featured_image     { padding: 5px 10px; }
.posts_index article .post_featured_image img { width: 100%; }
.posts_index article .post_contents           { padding: 5px 10px 10px 10px; }
.posts_index article .post_contents *         { margin-top: 1px; margin-bottom: 1px; }

.posts_index article .post_meta .user_avatar {
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    border-radius: 32px;
}

.posts_index article .post_meta .meta_field {
    display: inline-block; padding: 2px 4px;
}

.posts_index article .post_meta .meta_field.dimmed {
    color: dimgrey;
}

.posts_index article .post_meta .meta_section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 16px;
    padding: 1px;
}

.posts_index article .post_meta .meta_section.upper {
    font-size: 11pt;
}

article .post_contents blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid silver;
    color: grey;
}

/* ======= */
/* INDEXES */
/* ======= */

/* Featured posts, only on the home */

.featured_post                { background-color: white; margin-bottom: 10px;
                                -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25); }
.featured_post h3             { padding: 5px; margin: 0; font-size: 10pt; line-height: normal; }
.featured_post .thumbnail img { width: 100%; }

/* By default, they're off (For portrait mobiles) */

#featured_posts_column { display: none; }

/* They're on from 720px wide and above */

/* Responsiveness */

#home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper {
    float: left;
}

#home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column {
    display: block;
    float: right;
    padding-left: 10px;
}

@media all and (min-width: 1367px) and (max-width: 99999px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 80%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 20%; }
}

@media all and (min-width: 1281px) and (max-width: 1366px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 75%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 25%; }
}

@media all and (min-width: 1025px) and (max-width: 1280px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 76%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 24%; }
}

@media all and (min-width: 721px) and (max-width: 1024px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 68%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 32%; }
}

@media all and (min-width: 481px) and (max-width: 720px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 66%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 34%; }
}

@media all and (min-width: 100px) and (max-width: 480px)
{
    /* Sidebar is hidden here. We must adjust the content width. */
    #content { width: 100%; }
}
