/**
 * Base template - Base styles
 *
 * @package    HNG2
 * @subpackage core
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Prompt:400,400i,700,700i|Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700,700i|Ubuntu+Mono:400,400i,700,700i&subset=latin-ext';

body     { font-family: 'Prompt', sans-serif; font-size: 12pt; background-color: #E5E5E5; }
th       { font-family: 'Roboto', sans-serif; font-size: 11pt; }
td       { font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif; font-size: 11pt; }
#header  { font-family: 'Roboto', sans-serif; font-size: 12pt; }
#footer  { font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif; font-size: 11pt; }
#content { line-height: 1em; }

textarea, pre, .fixed_font, code { font-family: 'Ubuntu Mono', 'Lucida Console', 'Courier new', 'Courier', monospace; font-size: 10pt; }
textarea.no_fw_font              { font-family: 'Prompt', sans-serif; font-size: 12pt; }

h1 { font-family: 'Lora', sans-serif; font-size: 18pt; line-height: 1em; }
h2 { font-family: 'Lora', sans-serif; font-size: 16pt; line-height: 1em; }
h3 { font-family: 'Lora', sans-serif; font-size: 14pt; line-height: 1em; }

#post_form textarea[name="title"]   { font-family: 'Lora', sans-serif;   font-size: 18pt; min-height: 34px; height: 34px; }
#post_form textarea[name="excerpt"] { font-family: 'Prompt', sans-serif; font-size: 12pt; min-height: 30px; height: 30px; }

body.mce-content-body { background-color: white; }

/* Emojione adjustments */

body     .emojione { height: 12pt; }
th       .emojione { height: 11pt; }
td       .emojione { height: 11pt; }
#header  .emojione { height: 12pt; }
#footer  .emojione { height: 11pt; }

.fixed_font   .emojione ,
code          .emojione { height: 10pt; }

h1 .emojione { height: 18pt; }
h2 .emojione { height: 16pt; }
h3 .emojione { height: 14pt; }
